
*.dll
*.deploy
/MES.Order/MES.Order.UI/bin
/MES.Order/packages
MES.Order/MES.Order.UI/Properties/licenses.licx
/MES.Order/MES.Order.UI/publish
/MES.Order/MES.Order.UI/obj
/MES.Order/MES.Order.Infrastructure/obj
/MES.Order/MES.Order.Infrastructure/bin
/MES.Order/MES.Order.Infrastructure/.vs
/MES.Order/MES.Order.DAL/obj
/MES.Order/.vs/MES.Order
/MES.Order/MES.Order.Adapter/.vs
/MES.Order/MES.Order.Adapter/bin
/MES.Order/MES.Order.Adapter/obj
/MES.Order/MES.Order.BLL/.vs
/MES.Order/MES.Order.BLL/bin
/MES.Order/MES.Order.BLL/obj
/MES.Order/MES.Order.DAL/.vs
/MES.Order/MES.Order.DAL/bin
/MES.Order/MES.Order.UI/.vs
