################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MES.Order/packages
/MES.Order/.vs
/MES.Order/MES.Order.Adapter/.vs
/MES.Order/MES.Order.Adapter/bin
/MES.Order/MES.Order.Adapter/obj
/MES.Order/MES.Order.BLL/.vs
/MES.Order/MES.Order.BLL/bin
/MES.Order/MES.Order.BLL/obj
/MES.Order/MES.Order.DAL/.vs
/MES.Order/MES.Order.DAL/bin
/MES.Order/MES.Order.DAL/obj
/MES.Order/MES.Order.Infrastructure/obj
/MES.Order/MES.Order.Infrastructure/bin
/MES.Order/MES.Order.Infrastructure/.vs
/MES.Order/MES.Order.UI/.vs
/MES.Order/MES.Order.UI/bin
/MES.Order/MES.Order.UI/obj
/.vs
/MES.Order/MES.Order.Adapter/bin
/MES.Order/MES.Order.BLL/bin
/MES.Order/MES.Order.DAL/bin
/MES.Order/MES.Order.Infrastructure/bin
/MES.Order/MES.Order.Adapter/bin
/MES.Order/MES.Order.BLL/bin
/MES.Order/MES.Order.DAL/bin
MES.Order/MES.Order.UI/Properties/licenses.licx
MES.Order/MES.Order.UI/Properties/licenses.licx.bak
*.licx
*.bak
*.licx
/MES.Order/MES.Order.UI/publish
/MES.Order/MES.Order.UI/publish
*.deploy
/MES.Order/MES.Order.UI/publish
/MES.Order/MES.Order.UI/publish
/MES.Order/MES.Order.UI/publish
/MES.Order/MES.Order.Infrastructure/obj/S03CSY/MES.Order.Infrastructure.csproj.AssemblyReference.cache
/MES.Order/MES.Order.Infrastructure/obj/S03CSY/MES.Order.Infrastructure.csproj.CoreCompileInputs.cache
/MES.Order/MES.Order.Infrastructure/obj/S03CSY/MES.Order.Infrastructure.dll
/MES.Order/MES.Order.Infrastructure/obj/S03CSY/MES.Order.Infrastructure.pdb
*.zip
