<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.WinForm.for.THS" version="13.2.13.7" targetFramework="net472" />
  <package id="THS.DevExpressEx.WinForm" version="2020.8.17.934" targetFramework="net472" />
  <package id="THS.Infrastructure" version="2020.7.31.955" targetFramework="net472" />
  <package id="THS.WinFormEx" version="2020.8.15.1953" targetFramework="net472" />
</packages>